---
layout: default
---
<nav class="site-subnav">
{% assign package = page.collection %}
{% if package == nil %}
	{% assign package = page.url | remove: "/" %}
{% endif %}

{% for coll in site.collections %}
	{% if coll.label == package %}
		<h3>{{coll.title}}</h3>
		<ul>
		{% for item in coll.nav %}
			<li>
			{% if item.path == nil %}
				<h3>{{ item.title }}</h3>
			{% else %}
				{% assign active = nil %}
				{% if page.url contains link.url %}
					{% assign active = 'active' %}
				{% endif %}
				<a href="{{site.baseurl}}/{{package}}/{{item.path}}" class="{{active}}">{{item.title}}</a>
			{% endif %}
			</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endfor %}
</nav>
<article class="package">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
